*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
}


.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
gap:40px;
padding:30px;
}


.hero img{
width:350px;
border-radius:20px;
box-shadow:0 10px 30px #333;
}


.text{
max-width:400px;
}

.text h1{
font-size:45px;
}

.text p{
background:white;
color:#333;
padding:15px;
border-radius:10px;
margin:20px 0;
}


.btn{
background:#00d26a;
color:white;
padding:12px 25px;
border-radius:10px;
text-decoration:none;
}


.menu{
text-align:center;
padding:40px;
}


.menu h2{
font-size:35px;
}


.card{
background:white;
color:#333;
margin:20px auto;
padding:20px;
border-radius:15px;
max-width:350px;
}


.card b{
color:#6a3dcc;
font-size:20px;
}


.kontak{
text-align:center;
padding:40px;
background:#222;
}
